body {
    margin: 0;
    background-image: url("./static/img/bgc.svg");
}

.root {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color:#fff;
    margin-left: auto;
    margin-right: auto;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.root-intro {
    height: 960px;
    /* width: 1920px; */
    background-image: url("./static/img/main-screen__bgc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* object-fit: cover; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed; 
    width: 100%;
    max-width: 1920px;
    background-color: rgba(18, 18, 18, 0.5);
    z-index: 99;
}

h2 {
    font-size: 48px;
    font-family: "Roboto";
    font-weight: 700;
    margin: 0;
}

.header-icon {
    margin-left: 40px;
}

.header-button-wrapper {
    margin-right: 40px;
}

.header-list_menu {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: 745px;
}

.header-list_menu li {
    list-style-type:none ;
}

.header-list_menu li a {
    text-decoration: none;
    color: blue;
    color: #fff;
}


.header-button_login {
    width: 183px;
    height: 44px;
    border-radius: 50px;

    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);

    border: 0;
}

.intro-text_wrapper {
    height: 830px;
    width: 920px;
    position: relative;
    top: 270px;

    left: 312px;
}

.intro-text {
    color: white;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 64px;
}

.intro-order_info button {
    width: 169px;
    height: 44px;

    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    border-radius: 50px;
    border: 0;
}



.intro-text_wrapper {

}

.intro-data_timer {
    color:white;
}

.intro-data_timer {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 510px;
}

.data_timer-block {
    width: 102px;
    height: 112px;
    background-color: #121212;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.data_timer-number {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 50.4px;
}

.data_timer-text {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.intro-order_info {
    height: 130px;
    color:#fff;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_info-students {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 251px;
    height: 58px;
}

.students-all-text {
    color: rgba(255, 255, 255, 0.4);

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.students-all-number {
    color: rgba(255, 255, 255, 1);

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.students-all {
    display: flex;
    justify-content:space-between;
}


.order_info-total {
    display: flex;
    height: 67px;
    flex-direction: column;
    justify-content: space-between;
}

.total-salary {
    display: flex;
    width: 279px;
    justify-content: space-between;
}

.total-salary-text {
    color: rgba(255, 255, 255, 0.4);
}

.progress_bar-limits {
    display: flex;
    justify-content: space-between;
}

.progress_bar-line {
    height: 6px;
    width: 714px;

    background-color: #fff;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 40.72%, #fff 100%);

}

.total-progress_bar {
    display: flex;
    flex-direction: column;
    height: 35px;

    justify-content: space-between;
}

.order_info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px; 
}

.root-content {
    background-image: url("./static/img/bgc.svg");
    background-size: 100%;
    background-repeat: repeat;
    width: 1920px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.occupation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 842px;
}

.occupation__wrapper {
    width: 1301px;
   /* height: 542px; */
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.occupation__img__border {
    box-sizing: border-box;
 
    border: 30px solid #C89AFC;

    width: 526px;
    height: 526px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.occupation__text {
    width: 636px;
}

.occupation__img {
    width: 96%;

    position: relative;
    top: 66px;
}

.occupation__text h2 {
    margin-bottom: 45px;
}

p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.fast-start__header {
    display: flex;
    align-items: center;
}

.fast-start__subtitle {
    width: 411px;
    color: rgba(255, 255, 255, 0.5)
}

h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: "Roboto";
}

.fast-start__description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5)
}

.fast-start {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fast-start__main {
    display: flex;
    flex-direction: column;
}

.fast-start__line-title {
    display: flex;
}

.fast-start__title {
    width: 324px;
}

.fast-start__line-sescription {
    display: flex;
    margin-top: 35px;
}

.fast-start__description {
    width: 324px;
    padding-right: 30px;
}

.fast-start__line-progress {
    display: flex;
    
    align-items: center;
}

.fast-start__progress-bar {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    height: 80px;
    width: 324px;
}

.fast-start__line-progress .fast-start__progress-bar:nth-child(2) {
    height: 60px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.fast-start__line-progress .fast-start__progress-bar:nth-child(3) {
    height: 30px;
}

.fast-start__line-progress .fast-start__progress-bar:nth-child(4) {
    height: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.fast-start__wrapper {
    width: 1315px;
}

.fast-start h2 {
    margin-left: 40px;
}

.fast-start__subtitle {
    margin: 0;
    margin-top: 49px;
    margin-bottom:80px;
}

.features-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-section__header {
    
}

.features-section__features {
    display: flex;
}

.features-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programm-section__wrapper {
    height: 677px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.programm-section__content {
    
}

.programm-section__center {
    height: inherit;
    display: flex;
    align-items: center;
}

.programm-section__center_center {
    height: inherit;
    width: 6px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.programm-section__center_left {
    height: 562px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.programm-section__center_left div {
    width: inherit;
    height: 1px;
    background-color: rgba(256, 256, 256, 0.3);
}