body {
    margin: 0;
}

.root {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    color:#fff;
}

.root-intro {
    height: 960px;
    width: 1920px;
    background-image: url("./static/img/main-screen__bgc.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed; 
    width: 100%;
    background-color: rgba(18, 18, 18, 0.5);
    z-index: 99;
}

.header-icon {
    margin-left: 40px;
}

.header-button-wrapper {
    margin-right: 40px;
}

.header-list_menu {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: 745px;
}

.header-list_menu li {
    list-style-type:none ;
}

.header-list_menu li a {
    text-decoration: none;
    color: blue;
    color: #fff;
}


.header-button_login {
    width: 183px;
    height: 44px;
    border-radius: 50px;

    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);

    border: 0;
}

.intro-text_wrapper {
    height: 830px;
    width: 920px;
    position: relative;
    top: 270px;

    left: 312px;
}

.intro-text {
    color: white;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 64px;
}

.intro-order_info button {
    width: 169px;
    height: 44px;

    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    border-radius: 50px;
    border: 0;
}



.intro-text_wrapper {

}

.intro-data_timer {
    color:white;
}

.intro-data_timer {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 510px;
}

.data_timer-block {
    width: 102px;
    height: 112px;
    background-color: #121212;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.data_timer-number {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
    line-height: 50.4px;
}

.data_timer-text {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.intro-order_info {
    height: 130px;
    color:#fff;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_info-students {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 251px;
    height: 58px;
}

.students-all-text {
    color: rgba(255, 255, 255, 0.4);

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.students-all-number {
    color: rgba(255, 255, 255, 1);

    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.students-all {
    display: flex;
    justify-content:space-between;
}


.order_info-total {
    display: flex;
    height: 67px;
    flex-direction: column;
    justify-content: space-between;
}

.total-salary {
    display: flex;
    width: 279px;
    justify-content: space-between;
}

.total-salary-text {
    color: rgba(255, 255, 255, 0.4);
}

.progress_bar-limits {
    display: flex;
    justify-content: space-between;
}

.progress_bar-line {
    height: 6px;
    width: 714px;

    background-color: #fff;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 40.72%, #fff 100%);

}

.total-progress_bar {
    display: flex;
    flex-direction: column;
    height: 35px;

    justify-content: space-between;
}

.order_info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px; 
}

.root-content {
    background-image: url("./static/img/bgc.svg");
    background-size: 100%;
    background-repeat: repeat;
    width: 100vw;

}

.occupation {

}

.occupation__wrapper {
    width: 1301px;
   /* height: 542px; */
}

.occupation__img__border {

    box-sizing: border-box;
    width: 526px;
    height: 499px;

    border: 30px solid;

    border-image-source: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);


}